* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: hsl(0, 0%, 95%);
  }
  main {
    width: 50%;
    
    margin: auto;
    display: flex;
      height: 100vh;  
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
  }
  .left {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    width: 100%;
    margin-top: 10em;
    border-bottom-left-radius: 5px;
    text-align: center;
    height: 60%;
    /* flex-direction: column; */
    
    
  }
  .middle {
    background-color: hsl(184, 100%, 22%);
    width: 100%;
    margin-top: 10em;
    text-align: center;
    height: 60%;
    /* flex-direction: column; */
    
    
  }
  .right {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    margin-top: 10em;
    border-bottom-right-radius: 5px;
    width: 100%;
    text-align: center;
    height: 60%;
    /* flex-direction: column; */
    
  
    
  }
  .name {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    color: hsl(0, 0%, 95%);
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
  }
  .paragraphs {
    padding-top: 1em;
    padding-bottom: 3em;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: " big shoulders display", cursive;
    font-weight: 700;
    font-size: 15px;
    
  }
  button {
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin-right: 4em;
    border: 1px white;
    margin-bottom: 2em;
    cursor: pointer;
  }
  
  .btn1 {
    color: hsl(31, 77%, 52%);
  }
  .btn2 {
    color: hsl(184, 100%, 22%);
  }
  .btn3 {
    color: hsl(179, 100%, 13%);
  }
  .images {
    padding-top: 2em;
    margin-right: 4em;
  }
  button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }
  /* for desktop */
   /* @media screen and (max-width: 1440px) 
    main {
      width: 50%;
      height: 50%;
      display: flex;
    }
    .paragraphs {
      font-size: 15px;
    }
  } */
  /* for mobile */
  @media screen and (max-width: 375px) {
    main {
      width: 80%;
      margin: 100% auto;
      
      display: flex;
      
      
    }
    .head {
      padding-top: 1px;
    }
    .images {
      padding-bottom: 1px;
    }
    main {
      box-sizing: border-box;
     
     flex-direction: column;
    }
    .paragraphs {
     font-size: 15px;
    }
nav{
  text-align: center;
  padding: 2em;
}
.left{
  padding-bottom: 2em;
}
.middle{
  margin:0;
  
}
.right{
  margin: 0;
}
.btn2{
  margin-bottom: 4em;
}
  }
  